body {
    font-size: 90%;
}

a{
    text-decoration: none;
    padding: 1%;
    color: black;
    outline: none;
}

a:link{
    
}

a:visited{
    background-color:  #FFC0CB;
}

a:focus{
    background-color:  #FF1493;
}
a:hover{
    background-color: #FF69B4;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 0.8em;
}

form{
    font-size: medium;
}

#main{
    background-color: #FFB6C1;
    margin: 0 0.8em;
}


.blogposts , .welcome{
    margin: 0% 9%;
    padding: 2%;
    font-family: monospace;
}


.loginlogout{
    font-size: 1.5em;
    position: relative;
    left: 45vw
}


.submitlink{
    font-size: 1.5em;
    position: relative;
    left: 2.5%;

}

header#blog-top h1,footer{
    padding: 3%;
    background-color: #DDDDDD;
    text-align: center;
    font-family: cursive;
}

header#blog-top h1 a{
    background-color: transparent;
    outline: none;
}


div .post-header{
    border-bottom: solid medium black;
}

div p#post-title{
    font-size: 1.5em;
    font-weight: bolder;
    padding-bottom:  0%;
    margin-bottom:  0%;
    margin-left: 0%;
    padding-left: 0%;
 }
div p#post-date{
    /*position: relative;*/
    /*left: 82%;*/
    color: #111111;
    margin-bottom:  0%;
    padding-bottom:  0%;
}

div .post-content pre{
    margin-top: 0%;
    padding-top: 0%;
    font-size: 1.3em;
}


a.newpost{
    margin-left: 8%;
    background-color: transparent;
    text-decoration: underline;
}

