{% extends "base.html" %}

{% block content %}
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<form method="post">	
<h4>Signup</h4>
	<table>
	<!--	
		<tr>
			<td style="text-align:right">
			<label style="font-weight:bold"	>	Name		</label>
			</td>
			<td>
			<label>
					<input type="text" name="name" value="{{name}}" required>
			</label>
			</td>
			<td style="color:red">{{ nameerror }} 
			</td>			
		</tr>
		<tr>
			<td style="text-align:right" >
			<label style="font-weight:bold"> City 	</label>
			</td>
			<td>
			<label>
				<input type="text" name="city" value="{{city}}" required>
			</label>
			</td>
			<td style="color:red">{{ cityerror }}
			</td>			
		</tr>
	-->
		<tr>
			<td style="text-align:right">
			<label style="font-weight:bold"	>	Username		</label>
			</td>
			<td>
			<label>
					<input type="text" name="username" value="{{uname}}" required>
			</label>
			</td>
			<td style="color:red">{{ unameerror }} 
			</td>			
		</tr>
		<tr>
			<td style="text-align:right" >
			<label style="font-weight:bold"> Password 	</label>
			</td>
			<td>
			<label>
				<input type="password" name="password" value="{{pw}}" required>
			</label>
			</td>
			<td style="color:red">{{ pwerror }}
			</td>			
		</tr>
		<tr>
			<td style="text-align:right">
			<label style="font-weight:bold"> Confirm Password 	</label>
			</td>
			<td>
			<label>
				<input type="password" name="verify" value="{{vpw}}" required>
			</label>	
			</td>
			<td style="color:red">{{ vpwerror }}
			</td>			
		</tr>
		<tr>
			<td style="text-align:right">
			<label style="font-weight:bold"> Email (optional) 	</label>
			</td>
			<td>
			<label>
				<input type="email" name="email" value="{{email}}">
			</label>		
			</td>
			<td style="color:red">{{ emailerror }}
			</td>			
		</tr>
	</table>
	<br>
	<input type="submit" name="submit">
</form>
</div>
</div>
{% endblock %}